# Python Einf체hrung
## Basics
    Das ist eine Markdown-Zelle f체r Kommentare
    Syntax highlighting (farbliche Hervorhebung der einzelnen Elemente

In [1]:
print("Hello world!")

Hello world!

# Einfache Datentypen

In [7]:
# Variable und Wertezuweisung (value-assigment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [8]:
# Integer = Ganzzahl
age = 73
print(age)

73

In [9]:
# Float = Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [10]:
# Bolean / Boolescher Wert
is_scientist = True
print (is_scientist)

True

In [11]:
type(name)

str

In [12]:
name age

SyntaxError: invalid syntax (<ipython-input-12-81a28fb3aae2>, line 1)

In [13]:
# Jupyter notebook gibt immer Wert f체r letzte Zeile aus (wenn nicht anders expliziert), also in diesem Falle age
name
age

73

In [14]:
print(name)
print(age)

Hawking
73

## Operatoren

In [15]:
5 + 5

10

In [16]:
age * 100

7300

In [17]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [18]:
name * age

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [19]:
name * age

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [20]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [21]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [22]:
name + "10"

'Hawking10'

In [23]:
size/age

0.023456164383561642

In [46]:
number_of_articles = "50"
number_of_articles = int(number_of_articles)

In [25]:
print(number_of_articles)

NameError: name 'number_of_articles' is not defined

In [26]:
print(number_of_articles)

NameError: name 'number_of_articles' is not defined

In [27]:
int (number_of_articles) / 10

NameError: name 'number_of_articles' is not defined

In [30]:
%who

age	 is_scientist	 name	 size

In [31]:
number of articles = 50

SyntaxError: invalid syntax (<ipython-input-31-4da8f14379b8>, line 1)

In [32]:
number_of_articles = 50
print (number of articles)

SyntaxError: invalid syntax (<ipython-input-32-04d5e18b5c26>, line 2)

In [35]:
int(number_of_articles)

NameError: name 'number_of_articles' is not defined

In [36]:
age

73

In [37]:
zahl = "10"

In [38]:
age + zahl

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
int(zahl)

10

In [40]:
age + zahl

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
age + number_of_articles

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
zahl = int(zahl)

## Funktionen und Methoden
Funktionen die an einem Objekt dranh채ngen, nennt man methode

In [48]:
len(name)

7

In [49]:
name.upper()

'HAWKING'

In [50]:
name

'Hawking'

In [51]:
name = name.upper()
print(name)

HAWKING

In [52]:
name.replace("W", "Bernd")

'HABerndKING'

In [53]:
first_name = "Anna"

In [54]:
first_name.count("A")

1

In [55]:
first_name + name

'AnnaHAWKING'

In [56]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [57]:
names = ["Darwin", "Hawking", "Curie"]

In [58]:
names[1]

'Hawking'

In [59]:
names[0]

'Darwin'

In [60]:
names[all]

TypeError: list indices must be integers or slices, not builtin_function_or_method

In [61]:
names[2]

'Curie'

In [62]:
names[last]

NameError: name 'last' is not defined

In [63]:
names[end]

NameError: name 'end' is not defined

In [64]:
len(names)

3

In [65]:
names[-1]

'Curie'

In [66]:
names[0:2]

['Darwin', 'Hawking']

In [67]:
names[:]

['Darwin', 'Hawking', 'Curie']

In [68]:
slice_value = 2

In [69]:
names[slice_value]

'Curie'

In [70]:
names[1:]

['Hawking', 'Curie']

In [71]:
names[:slice_value]

['Darwin', 'Hawking']

In [72]:
names[slice_value:]

['Curie']

In [74]:
# Dictionary (ginge auch mit String, also "dreiundsiebzig" etc)
authors_and_ages = {"Darwin": 73, 
                    "Goethe": 83, 
                    "Loveclace": 37}

In [75]:
authors_and_ages["Darwin"]

73

In [76]:
authors_and_ages = {"Darwin": 73, 
                    "Goethe": names, 
                    "Loveclace": 37}

In [77]:
authors_and_ages["Goethe"]

['Darwin', 'Hawking', 'Curie']

In [78]:
names.append("Kleist")

In [79]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [80]:
authors_and_ages["Rowling"] = 53

In [81]:
authors_and_ages

{'Darwin': 73,
 'Goethe': ['Darwin', 'Hawking', 'Curie', 'Kleist'],
 'Loveclace': 37,
 'Rowling': 53}

## for-Schleife

In [82]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [89]:
for name in names:
    print(name + "is a great name")
    print("he")
print("ho")

Hawkingis a great name
he
Curieis a great name
he
ho

In [84]:
names.remove("Kleist")

In [86]:
del(names[0])

In [87]:
names

['Hawking', 'Curie']

## Bedingte Anweisungen (Conditionals)

In [94]:
temp = 10
if temp > 15:
    print("It's warm")

In [93]:
16 > 15

True

In [98]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("it's warm")
else: 
    print("it's cold")

it's warm